<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.indoornavigation">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".DrawTestActivity"></activity>
        <activity android:name=".TestActivity" />
        <activity android:name=".TravelActivity" />
        <activity android:name=".SightALLMarksActivity" />
        <activity android:name=".IndoorLocationActivity" />
        <activity android:name=".ShowSightActivity" />
        <activity android:name=".UserActivity" />
        <activity android:name=".ShowMarksActivity" />
        <activity android:name=".LocationMapActivity" />
        <activity android:name=".SpotManagerActivity" />
        <activity android:name=".AddSpotActivity" />
        <activity android:name=".UserManagerActivity" />
        <activity android:name=".SightManagerActivity" />
        <activity android:name=".AddSightActivity" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="e9fa3c6ee19bdb85236aa9f42afdc28d" />

        <service
            android:name="com.example.tool.MusicService"
            android:enabled="true"
            android:exported="true" />
        <service android:name="com.amap.api.location.APSService" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

</manifest>